@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    background:black;
    color: rgb(194, 194, 194);
}

#logoViajesChile {
    width: 3.5rem;
    height: auto;
}

.card {
    transition: 300ms;
    border-color: grey;
    height: 100%;
}

.card:hover {
    transition: 300ms;
    border: white solid 1px;
    box-shadow: 0px 0px 25px rgb(155, 155, 155);
}

.card img {
    object-fit: cover;
    height: 220px;
    width: 100%;
}

.card, .bgViajesChile {
    background-color: #17A3B8;
}

.logoTitle {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}

.colIconBlock {
    border-radius: 4px;
}

.sectionTitle {
    border-bottom: #17A3B8 1px solid;
}

a {
    transition: 300ms;
    color: rgb(226, 226, 226);
    text-decoration: none;
    user-select: none;
}

a:hover {
    transition: 350ms;
    color: white;
}

.nav-link {
    font-weight: 500;
}

footer i {
    transition: 300ms;
    color: whitesmoke;
}

footer i:hover {
    transition: 300ms;
    color: white;
    text-shadow: 0px 0px 15px white;
}

.paragraph:hover {
    transition: 300ms;
    color: white;
}

.paragraph {
    transition: 300ms;
}